In [1]:
import pandas as pd

In [2]:
tokped = pd.read_csv("dataset/tokopedia_reviews.csv", encoding="utf-8")
tokped.head()

          Date  Rating                                             Review
0  3 Juni 2025       3  3 juni 2025 ada bug dimana saat menghapus daft...
1  2 Juni 2025       1  Semenjak Tokopedia di bawah naungan Tiktok, ma...
2  3 Juni 2025       5  Buyers jangan ragu adanya pembatalan sistem to...
3  3 Juni 2025       4  Keren, ini app skrg bisa jalan lg di hp gw yg ...
4  1 Juni 2025       5  aplikasi yang menyediakan barang² bagus saya s...

In [30]:
tokped.describe()

            Rating
count  3680.000000
mean      2.114402
std       1.537502
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max       5.000000

In [31]:
tokped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3680 entries, 0 to 3679
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3680 non-null   object
 1   Rating  3680 non-null   int64
 2   Review  3680 non-null   object
dtypes: int64(1), object(2)
memory usage: 86.4+ KB

In [32]:
tokped.isna().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [33]:
tokped.isnull().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [34]:
tokped.duplicated().sum()

0

In [17]:
shopee = pd.read_csv("shopee_reviews.csv", encoding="utf-8")
shopee.head()

          Date  Rating                                             Review
0  3 Juni 2025       2  Mohon dipertimbangkan agar tampilan awal aplik...
1  2 Juni 2025       3  sebenarnya suka sama aplikasinya, cuman keseri...
2  3 Juni 2025       1  Awal nya enak pengiriman cepat pakai J&T, seka...
3  2 Juni 2025       4  Aplikasinya sih simple cuma yg sedikit saya ti...
4  2 Juni 2025       1  Kenapa sekarang2 setiap buka aplikasi Shopee s...

In [19]:
shopee.describe()

            Rating
count  3800.000000
mean      3.028684
std       1.746796
min       1.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       5.000000

In [20]:
shopee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3800 non-null   object
 1   Rating  3800 non-null   int64
 2   Review  3800 non-null   object
dtypes: int64(1), object(2)
memory usage: 89.2+ KB

In [21]:
shopee.isna().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [35]:
shopee.duplicated().sum()

0

In [41]:
tokped['Platform'] = 'tokopedia'  # Ganti sesuai nama platform aslinya
shopee['Platform'] = 'shopee'

In [43]:
shopee.head()

,Date,Rating,Review,Platform
0,3 Juni 2025,2,Mohon dipertimbangkan agar tampilan awal aplik...,shopee
1,2 Juni 2025,3,"sebenarnya suka sama aplikasinya, cuman keseri...",shopee
2,3 Juni 2025,1,"Awal nya enak pengiriman cepat pakai J&T, seka...",shopee
3,2 Juni 2025,4,Aplikasinya sih simple cuma yg sedikit saya ti...,shopee
4,2 Juni 2025,1,Kenapa sekarang2 setiap buka aplikasi Shopee s...,shopee

In [44]:
olshop = pd.concat([tokped, shopee], ignore_index=True)

olshop.head()

,Date,Rating,Review,Platform
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia

In [47]:
print(olshop['Rating'].value_counts())

Rating
1    3474
5    1987
2     755
3     685
4     579
Name: count, dtype: int64

In [48]:
print(olshop['Review'].str.len().describe())

count    7480.000000
mean      239.116711
std       118.093633
min        19.000000
25%       151.000000
50%       214.000000
75%       307.000000
max       500.000000
Name: Review, dtype: float64

In [49]:
def label_sentiment(rating):
    if rating >= 4:
        return 'positif'
    elif rating == 3:
        return 'netral'
    else:
        return 'negatif'

In [ ]:
olshop['Sentimen_Star'] = olshop['Rating'].apply(label_sentiment)

In [51]:
olshop.head()

,Date,Rating,Review,Platform,Sentimen
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia,netral
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia,negatif
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia,positif
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia,positif
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia,positif

In [59]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import re

factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
stemmer = StemmerFactory().create_stemmer()

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    words = text.split()
    words = [word for word in words if word not in stopwords]
    return ' '.join([stemmer.stem(word) for word in words])

olshop['clean_review'] = olshop['Review'].apply(clean_text)

In [62]:
olshop['clean_review']

0       juni bug hapus daftar barang keranjang langsun...
1       semenjak tokopedia bawah naung tiktok makin am...
2       buyers jangan ragu ada batal sistem tokopedia ...
3       keren app skrg jalan lg hp gw yg android kadan...
4       aplikasi sedia barang bagus selaku guna tuju s...
                              ...
7475    alhamdulillah shopee tetep jaga nyaman aman cu...
7476    aplikasi shoppe sekarang banyak bug nya masa b...
7477    aplikasi nya makin kesini malah makin sering e...
7478    si pas masuk shoope langsung shoope video mana...
7479    dulu shoppe cukup bagus cepatskrg makin parah ...
Name: clean_review, Length: 7480, dtype: object

In [63]:
pd.DataFrame(olshop.to_csv("olshop_reviews.csv", index=False, encoding="utf-8"))

Empty DataFrame
Columns: []
Index: []

In [3]:
olshop = pd.read_csv("dataset/olshop_reviews.csv", encoding="utf-8")

In [4]:
olshop.head()

,Date,Rating,Review,Platform,Sentimen,clean_review
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia,netral,juni bug hapus daftar barang keranjang langsun...
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia,negatif,semenjak tokopedia bawah naung tiktok makin am...
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia,positif,buyers jangan ragu ada batal sistem tokopedia ...
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia,positif,keren app skrg jalan lg hp gw yg android kadan...
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia,positif,aplikasi sedia barang bagus selaku guna tuju s...