In [5]:
import pandas as pd
import re

In [2]:
tokped = pd.read_csv("dataset/tokopedia_reviews.csv", encoding="utf-8")
tokped.head()

          Date  Rating                                             Review
0  3 Juni 2025       3  3 juni 2025 ada bug dimana saat menghapus daft...
1  2 Juni 2025       1  Semenjak Tokopedia di bawah naungan Tiktok, ma...
2  3 Juni 2025       5  Buyers jangan ragu adanya pembatalan sistem to...
3  3 Juni 2025       4  Keren, ini app skrg bisa jalan lg di hp gw yg ...
4  1 Juni 2025       5  aplikasi yang menyediakan barang² bagus saya s...

In [30]:
tokped.describe()

            Rating
count  3680.000000
mean      2.114402
std       1.537502
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max       5.000000

In [31]:
tokped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3680 entries, 0 to 3679
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3680 non-null   object
 1   Rating  3680 non-null   int64
 2   Review  3680 non-null   object
dtypes: int64(1), object(2)
memory usage: 86.4+ KB

In [32]:
tokped.isna().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [33]:
tokped.isnull().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [34]:
tokped.duplicated().sum()

0

In [17]:
shopee = pd.read_csv("shopee_reviews.csv", encoding="utf-8")
shopee.head()

          Date  Rating                                             Review
0  3 Juni 2025       2  Mohon dipertimbangkan agar tampilan awal aplik...
1  2 Juni 2025       3  sebenarnya suka sama aplikasinya, cuman keseri...
2  3 Juni 2025       1  Awal nya enak pengiriman cepat pakai J&T, seka...
3  2 Juni 2025       4  Aplikasinya sih simple cuma yg sedikit saya ti...
4  2 Juni 2025       1  Kenapa sekarang2 setiap buka aplikasi Shopee s...

In [19]:
shopee.describe()

            Rating
count  3800.000000
mean      3.028684
std       1.746796
min       1.000000
25%       1.000000
50%       3.000000
75%       5.000000
max       5.000000

In [20]:
shopee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3800 non-null   object
 1   Rating  3800 non-null   int64
 2   Review  3800 non-null   object
dtypes: int64(1), object(2)
memory usage: 89.2+ KB

In [21]:
shopee.isna().sum()

Date      0
Rating    0
Review    0
dtype: int64

In [35]:
shopee.duplicated().sum()

0

In [41]:
tokped['Platform'] = 'tokopedia'  # Ganti sesuai nama platform aslinya
shopee['Platform'] = 'shopee'

In [43]:
shopee.head()

,Date,Rating,Review,Platform
0,3 Juni 2025,2,Mohon dipertimbangkan agar tampilan awal aplik...,shopee
1,2 Juni 2025,3,"sebenarnya suka sama aplikasinya, cuman keseri...",shopee
2,3 Juni 2025,1,"Awal nya enak pengiriman cepat pakai J&T, seka...",shopee
3,2 Juni 2025,4,Aplikasinya sih simple cuma yg sedikit saya ti...,shopee
4,2 Juni 2025,1,Kenapa sekarang2 setiap buka aplikasi Shopee s...,shopee

In [44]:
olshop = pd.concat([tokped, shopee], ignore_index=True)

olshop.head()

,Date,Rating,Review,Platform
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia

In [47]:
print(olshop['Rating'].value_counts())

Rating
1    3474
5    1987
2     755
3     685
4     579
Name: count, dtype: int64

In [48]:
print(olshop['Review'].str.len().describe())

count    7480.000000
mean      239.116711
std       118.093633
min        19.000000
25%       151.000000
50%       214.000000
75%       307.000000
max       500.000000
Name: Review, dtype: float64

In [49]:
def label_sentiment(rating):
    if rating >= 4:
        return 'positif'
    elif rating == 3:
        return 'netral'
    else:
        return 'negatif'

In [ ]:
olshop['Sentimen_Star'] = olshop['Rating'].apply(label_sentiment)

In [51]:
olshop.head()

,Date,Rating,Review,Platform,Sentimen
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia,netral
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia,negatif
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia,positif
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia,positif
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia,positif

In [89]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import re

factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
stemmer = StemmerFactory().create_stemmer()

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    words = text.split()
    words = [word for word in words if word not in stopwords]
    return ' '.join([stemmer.stem(word) for word in words])

In [ ]:
olshop['clean_review'] = olshop['Review'].apply(clean_text)

In [62]:
olshop['clean_review']

0       juni bug hapus daftar barang keranjang langsun...
1       semenjak tokopedia bawah naung tiktok makin am...
2       buyers jangan ragu ada batal sistem tokopedia ...
3       keren app skrg jalan lg hp gw yg android kadan...
4       aplikasi sedia barang bagus selaku guna tuju s...
                              ...
7475    alhamdulillah shopee tetep jaga nyaman aman cu...
7476    aplikasi shoppe sekarang banyak bug nya masa b...
7477    aplikasi nya makin kesini malah makin sering e...
7478    si pas masuk shoope langsung shoope video mana...
7479    dulu shoppe cukup bagus cepatskrg makin parah ...
Name: clean_review, Length: 7480, dtype: object

In [63]:
pd.DataFrame(olshop.to_csv("olshop_reviews.csv", index=False, encoding="utf-8"))

Empty DataFrame
Columns: []
Index: []

In [3]:
olshop = pd.read_csv("dataset/olshop_reviews.csv", encoding="utf-8")

In [4]:
olshop.head()

,Date,Rating,Review,Platform,Sentimen,clean_review
0,3 Juni 2025,3,3 juni 2025 ada bug dimana saat menghapus daft...,tokopedia,netral,juni bug hapus daftar barang keranjang langsun...
1,2 Juni 2025,1,"Semenjak Tokopedia di bawah naungan Tiktok, ma...",tokopedia,negatif,semenjak tokopedia bawah naung tiktok makin am...
2,3 Juni 2025,5,Buyers jangan ragu adanya pembatalan sistem to...,tokopedia,positif,buyers jangan ragu ada batal sistem tokopedia ...
3,3 Juni 2025,4,"Keren, ini app skrg bisa jalan lg di hp gw yg ...",tokopedia,positif,keren app skrg jalan lg hp gw yg android kadan...
4,1 Juni 2025,5,aplikasi yang menyediakan barang² bagus saya s...,tokopedia,positif,aplikasi sedia barang bagus selaku guna tuju s...

In [ ]:
def load_lexicon_weighted(file_path):
    df_lex = pd.read_csv(file_path, sep="\t")
    return dict(zip(df_lex['word'].str.lower(), df_lex['weight']))

In [ ]:
lex_positif = load_lexicon_weighted("InSet/positive.tsv")
lex_negatif = load_lexicon_weighted("InSet/negative.tsv")

In [15]:
lexicon = {**lex_positif, **lex_negatif}

In [42]:
def get_sentiment_score(review):
    try:
        score = sum(lexicon.get(word, 0) for word in review.split())
    except Exception as e:
        print(f"Error processing review: {review}\n{e}")
      
    if score > 0:
        return 'positif'
    elif score < 0:
        return 'negatif'
    else:
        return 'netral'

In [41]:
olshop["clean_review"]

0       juni bug hapus daftar barang keranjang langsun...
1       semenjak tokopedia bawah naung tiktok makin am...
2       buyers jangan ragu ada batal sistem tokopedia ...
3       keren app skrg jalan lg hp gw yg android kadan...
4       aplikasi sedia barang bagus selaku guna tuju s...
                              ...
7475    alhamdulillah shopee tetep jaga nyaman aman cu...
7476    aplikasi shoppe sekarang banyak bug nya masa b...
7477    aplikasi nya makin kesini malah makin sering e...
7478    si pas masuk shoope langsung shoope video mana...
7479    dulu shoppe cukup bagus cepatskrg makin parah ...
Name: clean_review, Length: 7480, dtype: object

In [49]:
olshop.isnull().sum()

Date            0
Rating          0
Review          0
Platform        0
Sentimen        0
clean_review    6
dtype: int64

In [50]:
olshop.dropna(subset=['clean_review'], inplace=True)

In [52]:
olshop.isna().sum()

Date            0
Rating          0
Review          0
Platform        0
Sentimen        0
clean_review    0
dtype: int64

In [53]:
olshop["sentimen_lexicon"] = olshop["clean_review"].apply(get_sentiment_score)

In [67]:
olshop.groupby("Sentimen")["clean_review"].count()

Sentimen
negatif    4228
netral      685
positif    2561
Name: clean_review, dtype: int64

In [70]:
olshop.groupby("sentimen_lexicon")["clean_review"].count()

sentimen_lexicon
negatif    6635
netral      131
positif     708
Name: clean_review, dtype: int64

# Feature Extraction

### TD-idf

In [71]:
# convert textual data to numerical data
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    max_features=5000,
    ngram_range=(1,2),
    min_df=5,  
    max_df=0.9
)

In [ ]:
X = vectorizer.fit_transform(olshop['clean_review'])

In [74]:
y = olshop['sentimen_lexicon']

In [87]:
print(olshop['sentimen_lexicon'].value_counts(normalize=True))

sentimen_lexicon
negatif    0.887744
positif    0.094728
netral     0.017527
Name: proportion, dtype: float64

# Modeling

## Naive Bayes & Logistic Regression

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [80]:
# Split Data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42, stratify=y)

### Model 1: Naive Bayes

In [81]:
nb_model = MultinomialNB()
nb_model.fit(X_train, y_train)
nb_preds = nb_model.predict(X_test)

In [82]:
print("=== Naive Bayes Report ===")
print(classification_report(y_test, nb_preds))

=== Naive Bayes Report ===
              precision    recall  f1-score   support

     negatif       0.89      1.00      0.94      1327
      netral       0.00      0.00      0.00        26
     positif       1.00      0.01      0.01       142

    accuracy                           0.89      1495
   macro avg       0.63      0.34      0.32      1495
weighted avg       0.88      0.89      0.84      1495

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Model 2: Logistic Regression

In [83]:
lr_model = LogisticRegression(max_iter=1000)
lr_model.fit(X_train, y_train)
lr_preds = lr_model.predict(X_test)

In [84]:
print("=== Logistic Regression Report ===")
print(classification_report(y_test, lr_preds))

=== Logistic Regression Report ===
              precision    recall  f1-score   support

     negatif       0.90      1.00      0.95      1327
      netral       0.00      0.00      0.00        26
     positif       1.00      0.13      0.24       142

    accuracy                           0.90      1495
   macro avg       0.63      0.38      0.39      1495
weighted avg       0.89      0.90      0.86      1495

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [86]:
for a in [0.0, 0.1, 1.0]:
    model = MultinomialNB(alpha=a)
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    print(f"\n=== alpha={a} ===")
    print(classification_report(y_test, preds))

=== alpha=0.0 ===
              precision    recall  f1-score   support

     negatif       0.89      1.00      0.94      1327
      netral       0.00      0.00      0.00        26
     positif       0.86      0.04      0.08       142

    accuracy                           0.89      1495
   macro avg       0.58      0.35      0.34      1495
weighted avg       0.87      0.89      0.84      1495


=== alpha=0.1 ===
              precision    recall  f1-score   support

     negatif       0.89      1.00      0.94      1327
      netral       0.00      0.00      0.00        26
     positif       0.78      0.05      0.09       142

    accuracy                           0.89      1495
   macro avg       0.56      0.35      0.34      1495
weighted avg       0.87      0.89      0.84      1495


=== alpha=1.0 ===
              precision    recall  f1-score   support

     negatif       0.89      1.00      0.94      1327
      netral       0.00      0.00      0.00        26
     positif       1.00      0.01      0.01       142

    accuracy                           0.89      1495
   macro avg       0.63      0.34      0.32      1495
weighted avg       0.88      0.89      0.84      1495

c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\naive_bayes.py:624: FutureWarning: The default value for `force_alpha` will change to `True` in 1.4. To suppress this warning, manually set the value of `force_alpha`.
  warnings.warn(
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\naive_bayes.py:633: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10. Use `force_alpha=True` to keep alpha unchanged.
  warnings.warn(
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [91]:
textInput = input("Masukkan teks ulasan: ")
def predict_sentiment(text):
    text_cleaned = clean_text(text)
    text_vectorized = vectorizer.transform([text_cleaned])
    sentiment = lr_model.predict(text_vectorized)[0]
    return sentiment

sentiment = predict_sentiment(textInput)
print(f"Sentimen ulasan: {sentiment}")

Sentimen ulasan: negatif